{% extends 'base.html.twig' %}
{% block title %}{{ 'Create game'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="center">{{ 'Create game'|trans }}</h1>
    {{ form_start(form, {attr: {class: 'column small-12 large-5 large-centered'}}) }}
        {{ form_rest(form) }}
        <maxplayer translation="{{ '%nb% players'|trans }}"></maxplayer>
        <div class="center">
            <button type="submit" class="button success round small-12 large-5"><i class="gi gi-joystick"></i> {{ 'Create game'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('create') }}
{% endblock %}
