<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ 'Battleship'|trans }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="{{ url('homepage') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include "sidebar.html.twig" %}
        <div id="container" canvas="container">
            {% include "topbar.html.twig" %}

            <div class="flash-container">
                {% include "flash.html.twig" %}
                {% block flash %}{% endblock %}
                <noscript>
                    <div class="flash-msg error">{{ 'no_javascript'|trans }}</div>
                </noscript>
            </div>

            {% block body %}{% endblock %}
        </div>


        {% block javascripts %}
            <script>
                var mercureURL = "{{ mercure_url }}";
                var baseURL = "{{ app.request.getSchemeAndHttpHost() }}";
                // var Mercure;
            </script>
            {{ encore_entry_script_tags('app') }}
            <script src="{{ path('bazinga_jstranslation_js', { 'domain': 'js'}) }}"></script>
        {% endblock %}
    </body>
</html>
